version: "3.8"

services:
  mysql:
   
    container_name: mysql
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "devops"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    
    networks:
      - two-tier-nw
    restart: always
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost","-uroot","-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
  
  flask-app:
    container_name: two-tier-app
    build:
      context: .
    
    ports:
      - "1000:1000"
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=devops

    networks:
      - two-tier-nw

    depends_on:
      mysql:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:1000/health || exit 1"]
      interval: 50s
      timeout: 20s
      retries: 5
      start_period: 80s

volumes:
  mysql_data:

networks:
  two-tier-nw:

    
      
  
  
    